.App {
  text-align: center;
}

input{
  padding: 4px;
  margin-left: 18px;
}
ul{
  /* list-style-type: lower-greek; */
  font-size: 20px;
}
li{
  margin: 12px 0;
}
.delete-button{
  font-size: 20px;
  margin-left: 8px;
  border: none;
  color:red;
  border-radius: 4px;
  padding-top: 4px;
  padding-bottom: 4px;
}
/* .img-wrapper{
  max-width: 300px;
  position: relative;
}
.img-wrapper img{
  width: 100%;
  display: block;
  border-radius: 50%;
}
.img-wrapper::before{
  content: '';
  position: absolute;
  inset: -15px;
  border: 6px solid blue;
  border-top-color:black ;
  border-bottom-color:black ;
  border-radius: 50%;
  z-index: -1;
  animation: Spin 5s linear infinite;
}
@keyframes Spin {
  to{transform: rotate(360deg);}
} */
.progresses{
  width: 500px;
  height: 20px;
}
.progresses2{
  width: 500px;
  height: 20px;
  margin-left: 50px;
}