@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');
*{
  font-family: 'Oswald', sans-serif;
}
body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.center{
  align-items: center;
  justify-content: center;
}

  #img-wrapper{
    max-width: 300px;
    position: relative;
  }
  #img-wrapper img{
    width: 100%;
    display: block;
    border-radius: 50%;
  }
  #img-wrapper::before{
    content: '';
    position: absolute;
    inset: -15px;
    border: 6px solid blue;
    border-top-color:black ;
    border-bottom-color:black ;
    border-radius: 50%;
    z-index: -1;
    animation: Spin 5s linear infinite;
  }
  @keyframes Spin {
    to{transform: rotate(360deg);}
  }
